<%= link_to "Back", sets_path %>
<%= link_to "Edit", edit_set_path(@set) %>
<h1><%= @set.name %></h1>
<p><%= @set.item_number %></p>
<p><%= @set.description %></p>
<%= image_tag @set.image.variant(resize_to_limit: [500, 500]) if @set.image.attached? %>
