<%= link_to "Back", sets_path %>
<%= link_to "Edit", edit_set_path(@set) %>
<%= link_to "Delete", set_path(@set), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<h1><%= @set.name %></h1>
<p><%= @set.item_number %></p>
<p><%= @set.description %></p>
<%= link_to "Download Instructions", rails_blob_path(@set.instructions, disposition: :inline), class: "btn btn-primary", target: :_blank %>
<br />
<br />
<%= image_tag @set.image.variant(resize_to_limit: [500, 500]) if @set.image.attached? %>
